.container-gestion-article {
    display: flex;
    justify-content: space-between;
}

.elt-article.create-article {
    color: #fff;
    background: #7763C5;
    border: 0px;
    border-radius: 8px;
    padding: 10px;
}

.elt-article.create-article:hover {
    cursor: pointer;
}

.elt-article {
    font-size: 1.8em;
}

.icon-arrow {
    transform: rotate(-90deg);
}

.articles-container {
    display: flex;
    justify-content: center;
}

.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1024px) {
    .articles {
        grid-template-columns: repeat(1, 1fr);
    }

    .container-gestion-article {
        flex-direction: column;
    }

}