<app-header-private [activePage]="'articles'"></app-header-private>
<div class="wrapper">
  <div class="container-gestion-article">
    <button class="elt-article create-article">Créer un article</button>
    <button class="elt-article" mat-button [matMenuTriggerFor]="menu">
      Trier par <mat-icon class="icon-arrow">keyboard_backspace</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sortArticlesByChronology()">Par chronologie</button>
      <button mat-menu-item>Par défaut</button>
    </mat-menu>
  </div>

  <div class="articles-container">
    <div class="articles">
      <app-article
        *ngFor="let article of sortedArticles"
        [article]="article"
      ></app-article>
    </div>
  </div>
</div>
