.back-home {
    font-size: 60px;
    width: 55px;
    height: 60px;
    margin: 30px 0px 0px 60px;
    position: absolute;
}

.back-home:hover {
    cursor: pointer;
}

.header {
    width: 100%;
    border-bottom: 1px solid #000;
}

img {
    max-width: 300px;
    margin-left: 30px;
}

.title {
    display: grid;
    place-items: center;
    font-size: 2em;
    margin-top: 60px;
}


@media screen and (max-width: 700px) {
    .back-home {
        top: 0px;
        margin: 10px 0px 0px 10px;
    }

    .header {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        border-bottom: 0px;
    }

    img {
        margin-left: 0px;
    }

    .title {
        margin-top: 0px;
    }
    
}