<app-header-private></app-header-private>
<div class="wrapper">
  <div class="title-icon-arrow-container">
    <mat-icon [routerLink]="'/articles'" class="icon-arrow"
      >keyboard_backspace</mat-icon
    >
    <p class="form-name">Créer un nouvel article</p>
  </div>
  <div class="form-container">
    <form #articleForm="ngForm" (ngSubmit)="onSubmit(articleForm)">
      <label for="theme-select"></label>
      <select class="input-form select" name="theme" id="theme-select" [(ngModel)]="selectedSubjectId" required>
        <option *ngFor="let subjet of subjets$ | async" [value]="subjet.id">
          {{ subjet.name }}
        </option>
      </select>

      <label for="title"></label>
      <input
        class="input-form"
        placeholder="Titre de l'article"
        type="text"
        id="title"
        name="title"
        required
        [(ngModel)]="title"
      />

      <label for="content"></label>
      <textarea
        class="input-form text-area"
        placeholder="Écrivez ici votre contenu"
        id="content"
        name="content"
        required
        [(ngModel)]="content"
      >
      </textarea>

      <button class="submit" type="submit">Créer</button>
    </form>
  </div>
</div>
