<app-header-private [activePage]="'profile'"></app-header-private>
<div class="wrapper">
  <p class="form-name">Profil utilisateur</p>

  <div class="form-container">
    <form #updateUserForm="ngForm" (ngSubmit)="onSubmit(updateUserForm)">
      <label for="name"></label>
      <input
        class="input-form"
        type="text"
        id="name"
        name="name"
        [(ngModel)]="name"
        required
        (input)="validateName()"
        [ngClass]="{ 'valid-input': nameValid }"
      />
      <label for="email"></label>
      <input
        class="input-form"
        type="text"
        id="email"
        name="email"
        [(ngModel)]="username"
        required
        (input)="validateEmail()"
        [ngClass]="{ 'valid-input': emailValid }"
      />

      <label for="password"></label>
      <input
        class="input-form"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        (input)="validPassword()"
        [ngClass]="{ 'valid-input': passwordValid }"
      />

      <ul class="comment" *ngFor="let passwordRule of passwordRules">
        <li class="comment-auth">{{ passwordRule }}</li>
      </ul>

      <button class="submit" type="submit">Sauvegarder</button>
    </form>
    <p class="logout" (click)="logOut()">Se déconnecter</p>
  </div>
  <div class="spacer"></div>
  <p class="form-name">Abonnements</p>
  <div class="themes-container">
    <div class="themes">
      <div *ngFor="let subject of subjects$ | async">
        <div class="theme-inner">
          <p class="title-theme-inner">{{ subject.name }}</p>
          <div class="button-container-inner">
            <button class="button-subscribe-inner" (click)="onSubscribeClick(subject)">
              {{ subject.subscribed ? 'Se désabonner' : "S'abonner" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
