<app-header-public [title]="'Se connecter'"></app-header-public>
<div class="center-container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <label for="usernameEmail">E-mail ou nom d'utilisateur</label>
    <input type="text" id="usernameEmail" name="usernameEmail" [(ngModel)]="username" required />

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required />

    <button type="submit">Se connecter</button>
  </form>
</div>
