.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 100%;
  max-width: 700px;
}

.home-button {
  width: 200px;
  height: 45px;
  background: #fff;
  border-radius: 10px;
  margin: 20px;
  font-size: 1.5em;
}

.home-button:hover {
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 700px) {
  .center {
    height: 50%;
  }

  .home-button {
    width: 100%;
    margin: 10px 0;
  }
}
